<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>FirstName: <%=person.firstName%> LastName: <%=person.lastName%></p>
    <p>Birthday: <%=person.birthday%></p>
    <p>PhoneNumber: <%=person.phones[0].phoneNumber%></p>
    <p>Role Title: <%=person.roles[0].title%></p>
    <p>Relationship: <%=person.personRelationships[0].relationship.type%></p>
  </body>
</html>
